.pytest_cache
.vscode
.ipynb_checkpoints
*.log
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
pretrained_models
saved_models
history
data
log
exp
tmp
*.sbatch
grid_search.py
